/* ---------- Form Container ---------- */
.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two equal-width columns */
  gap: 2rem; /* space between columns */
  padding: 2rem;
  max-width: 1000px;
  margin: 1.5rem auto;
  border-radius: 1.2rem;
  box-shadow: 0 0 25px rgba(0, 0, 60, 0.4);
  transition: all 0.3s ease;
  width: calc(100% - 3rem); /* space from page edges */
}

.formContainer:hover {
}
.inputLabel {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

/* ---------- Input Group Containers ---------- */
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.label {
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.3px;
}

/* ---------- Inputs ---------- */
.title,
.price,
.textArea {
  width: 100%;
  padding: 0.9rem 1rem;
  border-radius: 0.6rem;
  outline: none;
  border: none;

  color: #ffffff;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.15);
  transition: all 0.3s ease;
}

.title:focus,
.price:focus,
.textArea:focus,
select:focus {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px rgba(0, 255, 200, 0.5);
  border: 1px solid rgba(0, 255, 200, 0.4);
}

/* ---------- Textarea ---------- */
.textArea {
  min-height: 120px;
  resize: vertical;
}

/* ---------- Button Container ---------- */
.buttonContainer {
  grid-column: 1 / -1; /* Make buttons span both columns */
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

/* ---------- Buttons ---------- */
.cancelButton,
.submitButton {
  font-weight: 600;
  border-radius: 12px;
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.submitButton {
  background: linear-gradient(135deg, #00ff99, #00b4d8);
  color: black;
  box-shadow: 0 0 15px rgba(0, 255, 150, 0.4);
}

.submitButton:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 0 25px rgba(0, 255, 149, 0.6);
}

.cancelButton {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #ccc;
}

.cancelButton:hover {
  background: linear-gradient(135deg, #df0000, #d8bf00);
  color: white;
  transform: translateY(-2px);
}

/* ---------- Responsive ---------- */
@media (max-width: 768px) {
  .formContainer {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
}

.header {
  justify-self: center;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  color: #ffffff;
  text-shadow:
    0 0 5px #0048ff,
    0 0 10px #00ffbf,
    0 0 20px #2200ff,
    0 0 40px #00fbff88;
}
