/* Login.module.css */

/* Outer container for the component */

/* Container for logged-in user */
.userContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Greeting text */
.userGreeting {
  color: black;
  font-weight: 500;
  margin: 0;
  font-size: 0.875rem; /* slightly smaller to fit navbar */
}

/* Sign-out button */
.signOutButton {
  background-color: #cbcccd; /* light shade */
  color: #000000;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-size: 0.875rem;
}

.signOutButton:hover {
  background-color: #db162f;
  color: #f0f3f5; /* slightly darker on hover */
}

/* Sign-in button */
.signInButton {
  font-weight: 600;
  background-color: #cbcccd; /* light shade */
  color: #000000;
  border: 1px solid #ddd;
  padding: 0.8rem 0.8rem; /* vertical | horizontal */
  font-size: 1rem;
  border-radius: 10px;
}

.signInButton:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #00ff99, #00b4d8);
  box-shadow: 0 0 2px rgba(0, 255, 149, 0.6);
}

/* Error message */
.error {
  color: red;
  font-size: 0.5rem;
  margin-left: 0.5rem;
}
