.searchWrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 2rem;
  padding: 1rem;
}

.searchWrapper label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #ffffff;
}

.searchWrapper input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.searchWrapper input[type="text"]:focus {
  border-color: #ffffff;
}
