.searchWrapper {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  max-width: 500px;
  margin: 1rem auto 0;
  padding: 1rem;
}

.searchWrapper label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #144de7;
}

.searchWrapper input[type="text"] {
  padding: 0.5rem;
  border: 2px solid #144de7;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.searchWrapper input[type="text"]:focus {
  border-color: #144de7;
}
